@import '../../asset/styles/_bass.styles.scss';

.table {
  margin-bottom: 20px;

  .table-row {
    @include table-row();

    &.table-head {
      font-weight: 700;

      .head-cell {
        padding: 10px 0;
      }
    }

    &.table-head .head-cell,
    .table-cell {
      @include tabel-cell();
    }

    &.selected-row {
      background-color: #f7f7f7;
    }

    &.disabled {
      pointer-events: none;
      opacity: 0.2;
    }
  }

  .action-items-wrapper {
    .action-button {
      margin: 8px;
      border: 0;
      background-color: transparent;
      cursor: pointer;

      img {
        width: 20px;
        padding: 5px;
      }

      &:first-child {
        margin-left: 0;
      }

      &:hover {
        background-color: #f7f7f7;
      }

      &.non-bg {
        img {
          width: 30px;
          padding: 0;
        }

        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}

.button-wrapper {
  margin-bottom: 30px;
}