@import '../../asset/styles/_bass.styles.scss';

.table {
  margin-bottom: 20px;
  min-height: calc(100vh - 200px);

  .table-row {
    @include table-row();

    &.table-head {
      font-weight: 700;

      .head-cell {
        padding: 10px 0;

        @media only screen and (max-width: 900px) {
          &:nth-child(2) {
            width: calc(100% - 250px);
          }
        }
        @media only screen and (max-width: 500px) {
          &:nth-child(2) {
            width: calc(100% - 70px);
          }
        }
      }
    }

    &.table-head .head-cell,
    .table-cell {
      @include tabel-cell();
    }

    &.selected-row {
      background-color: #f7f7f7;
    }

    &.disabled {
      pointer-events: none;
      opacity: 0.2;
    }

    &.responsive-table {
      display: block;
      .table-cell {
        display: inline-block;

        .checkbox-wrapper {
          text-align: center;
        }

        &.action-item-cell {
          width: 100%;
          display: flex;
          justify-content: space-around;

          .action-items-wrapper {
            width: calc(100% - 65px);
            display: flex;
            justify-content: space-around;
            margin: 10px 0 10px 65px;

            .action-button {
              margin: 0;
              width: 48%;
              border: 1px solid #b4b4b4;
              border-radius: 3px;
            }
          }
        }
      }

      .responsive-table-cell {
        width: calc(100% - 70px);
      }
      
    }
  }

  .action-items-wrapper {
    .action-button {
      &:first-child {
        margin-left: 0;
        padding-left: 0;
      }
    }
  }

  @media only screen and (max-width: 900px) {
    .responsive-table-cell {
      display: inline-flex;
      flex-direction: column;
      width: calc(100% - 250px);

      div {
        display: flex;
        margin-bottom: 5px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.table-bottom-wrapper {
  margin-bottom: 30px;
}
